{% extends "base.html" %}

{% block titulo %} Aplicación {% endblock %}

{% block contenido %}

    <div class="card bg-light mt-4">
        <div class="card-body">
            <h4 class="card-title">Sobre la aplicación web</h4>
            <p class="card-text">Aquí se muestra la descripción sobre de qué trata esta aplicación web</p>
            
        </div>
    </div>

    <div class="card bg-light mt-4">
        <div class="card-body">
            {% include 'components/information/app.html' %}
        </div>
    </div>

{% endblock %}