{% extends "base.html" %}

{% block titulo %} Manual {% endblock %}

{% block contenido %}

    <div class="card bg-light mt-4">
        <div class="card-body">
            <h4 class="card-title">Manual de usuario</h4>
            <p class="card-text">Aquí se muestra la guía de cómo manejar la aplicación web</p>
            
        </div>
    </div>

    <div class="card bg-light mt-4">
        <div class="card-body">
            {% include 'components/information/manual.html' %}
        </div>
    </div>

{% endblock %}