<div class="container-fluid bg-dark text-bg-dark footer">
    <div class="container">
        <div class="row px-3 py-4">
            <div class="col">
                <p class="text-center fs-4">Sobre</p>
                <ul>
                    <li class="link-warning">
                        <a class="link-warning link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'aplicacion' %}">Aplicación</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <p class="text-center fs-4">Splines</p>
                <ul>
                    <li class="link-warning">
                        <a class="link-warning link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'splines' %}">Lineal</a>
                    </li>
                    <li class="link-warning">
                        <a class="link-warning link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'splines' %}">Cuadrática</a>
                    </li>
                    <li class="link-warning">
                        <a class="link-warning link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'splines' %}">Cúbica</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <p class="text-center fs-4">Manuales</p>
                <ul>
                    <li class="link-warning">
                        <a class="link-warning link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'manual' %}">Manual</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row bg-secondary fs-5 px-4 py-2">
        <div class="col-12 text-center">
            Universidad Técnica Nacional, 2024
        </div>
    </div>
</div>