<p class="card-text">
    Los polinomios P(x) a través de los que construimos el Spline tienen grado 2. Esto quiere decir, que va a tener la
    forma P(x) = ax² + bx + c<br><br>
    Como en la interpolación segmentaria lineal, vamos a tener N-1 ecuaciones (donde N son los puntos sobre los que se
    define la función). La interpolación cuadrática nos va a asegurar que la función que nosotros generemos a trozos con
    los distintos P(x) va a ser continua, ya que para sacar las condiciones que ajusten el polinomio, vamos a determinar
    cómo condiciones:
    <ul>
        <li>
            Que las partes de la función a trozos P(x) pasen por ese punto. Es decir, que las dos Pn(x) que rodean al f(x)
            que
            queremos aproximar, sean igual a f(x) en cada uno de estos puntos.
        </li>
        <li>
            Que la derivada en un punto siempre coincida para ambos "lados" de la función definida a trozos que pasa por tal
            punto común.
        </li>
        <li>
            Esto sin embargo no es suficiente, y necesitamos una condición más. ¿Por qué? Tenemos 3 incógnitas por cada
            P(x).
            En un caso sencillo con f(x) definida en tres puntos y dos ecuaciones P(x) para aproximarla, vamos a tener seis
            incógnitas en total. Para resolver esto necesitaríamos seis ecuaciones, pero vamos a tener tan sólo cinco:
            cuatro
            que igualan el P(x) con el valor de f(x) en ese punto (dos por cada intervalo), y la quinta al igualar la
            derivada
            en el punto común a las dos P(x).
        </li>
    </ul>
</p>