<div class="container pt-2 mt-4 mx-0 px-0">
    <div class="w-100 d-none" id="data-container">
        <div class="row mb-4">
            <div class="col-12" id="data-section">
                <h5 class="card-title">Datos de entrada</h5>
                <table class="table table-bordered table-responsive m-0" id="data-list"></table>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12" id="steps-section">
                <h5 class="card-title">Pasos del cálculo</h5>
                <ul class="card-text list-group list-group-flush" id="steps-list"></ul>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <h5 class="card-title">Gráfica</h5>
                <div id="graph-section">
                    <canvas id="myChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 d-none" id="data-loading">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status"></div>
        </div>
    </div>

</div>