<div class="container mt-4">
    <div class="row mx-auto justify-content-center mb-3">
        <div class="col-12 mb-3 mb-md-0">
            <div class="d-flex align-items-center">
                <label for="" class="form-label me-2">Nombre:</label>
                <input type="text" class="form-control focus-ring focus-ring-warning border border-secondary"
                    name="" id="name" aria-describedby="" placeholder="Nombre..." />
                <input type="hidden" id="hid" value="" class="overflow-hidden">
            </div>
        </div>
    </div>
</div>
