<p class="card-text">
    Nuestra aplicación web está diseñada para calcular splines para el consumo eléctrico, utilizando dos variables
    clave: las horas del día y el consumo eléctrico en kilowatt-hora (kWh). Los usuarios pueden agregar datos de forma
    indefinida, permitiendo un análisis detallado y personalizado de sus patrones de consumo.
    <br><br>
    <strong>Características Principales:</strong>
    <br><br>
    Variables de Entrada:
    <ul>
        <li>
            Horas del Día (X): Permite ingresar datos de consumo a diferentes horas del día.
        </li>
        <li>
            Consumo Eléctrico (kWh) (Y): Registra el consumo eléctrico en kilowatt-hora.
        </li>
    </ul>
    Cálculo de Splines:
    <ul>
        <li>
            Realiza cálculos de splines lineales, cuadráticos y cúbicos.
        </li>
        <li>
            Proporciona cálculos detallados por segmentos, permitiendo a los usuarios ver los pasos específicos y entender
            cómo
            se ajustan los datos.
        </li>
    </ul>
    Visualización de Datos:
    <ul>
        <li>
            Genera gráficos interactivos que muestran los puntos de datos ingresados y las variaciones del spline.
        </li>
        <li>
            Permite visualizar tendencias y realizar predicciones basadas en los datos ingresados.
        </li>
    </ul>
    Beneficios:
    <ul>
        <li>
            Flexibilidad y Personalización: Los usuarios pueden ingresar y ajustar datos de consumo eléctrico sin
            limitaciones,
            facilitando un análisis exhaustivo y adaptable a sus necesidades específicas.
        </li>
        <li>
            Transparencia en los Cálculos: La aplicación detalla cada paso del cálculo del spline, ofreciendo una
            comprensión
            clara y precisa del proceso.
        </li>
    </ul>
</p>