<p class="card-text">
    Un spline lineal es una pieza lineal en trozos utilizada para aproximar una función. En su forma más simple, se
    define por una serie de segmentos de línea recta que conectan un conjunto de puntos conocidos, llamados nodos. La
    función spline es continua en todo su dominio, aunque puede no ser suave en los puntos de unión (los nodos).
    Matemáticamente, se usa para interpolar los datos, proporcionando una forma de estimar valores intermedios entre los
    datos conocidos.
</p>